<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbstatistics">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Statistic"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BBStatStart"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_bbstat_start"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StartupActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/title_activity_startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerListActivity"
            android:label="@string/title_player_list"
            android:parentActivityName=".StartupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bbstatistics.StartupActivity" />
        </activity>
        <activity
            android:name=".PlayerDetailActivity"
            android:label="@string/title_player_detail"
            android:parentActivityName=".PlayerListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bbstatistics.PlayerListActivity" />
        </activity>
        <activity
            android:name=".NewGame"
            android:label="@string/title_activity_new_game"
            android:parentActivityName=".StartupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bbstatistics.StartupActivity" />
        </activity>
    </application>

</manifest>
